/** @format */

// /** @format */
// .sfondo {
//   background-image: url('http://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/13/a9a51bc0b8d626db493ab5f9a971b043/background-hero.png');
//   height: 100vh;
//   width: 100vw;
// }
// .container {
//   position: absolute;
//   display: flex;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
// }

// .card-circle {
//   margin-top: 50px;
//   background: rgb(207, 248, 161);
//   margin: 10px;
//   width: 210px;
//   height: 210px;
//   border-radius: 50%;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
//   align-items: center;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
//   transition: transform 0.3s ease-in-out;
// }

// .card-circle:hover {
//   transform: scale(1.1);
// }

// .dialogo {
//   border: 6px solid black;
//   height: 200px;
//   width: 600px;
//   padding: 4px;
//   margin-top: -7px !important;
//   z-index: 3;
//   margin: auto;
//   background-color: #fff;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
// }

// .professor-intro {
//   font-family: 'pokemon-font', monospace;
//   font-size: 18px;
//   color: #333;
//   line-height: 28px;
// }

// .professore img {
//   height: 700px;
//   width: 700px;
// }

// .team {
//   border: 8px solid #047408;
//   width: 500px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   padding: 20px;
//   background-color: #eef18b;
//   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
//   border-radius: 10px;
// }

// .pokemon-info {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .pokemon-info img {
//   width: 150px;
//   height: 140px;
// }

// .pokemon-info p {
//   margin: 5px 0;
//   font-size: 20px;
//   font-family: 'Pokemon Solid', sans-serif;
//   color: rgb(255, 187, 0);
//   text-shadow: 2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000,
//     -2px 2px 2px #000;
//   letter-spacing: 1px;
//   text-transform: capitalize;
// }

// .pokeball {
//   display: inline-block;
//   margin: 20px;
//   width: 100px;
//   height: 100px;
//   background: #b71c1c;
//   border-radius: 50%;
//   box-shadow: inset 0 -72px 0 -37px #fff, inset 0 -76px 0 -35px #000,
//     0 0 0 5px #000;
//   position: relative;
//   transition: 0.4s;
//   transform-origin: bottom center;
//   -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
// }

// .pokeball:before {
//   display: block;
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 20px;
//   width: 20px;
//   border-radius: 50%;
//   background: #fff;
//   top: 50px;
//   left: 40px;
//   border: 1px solid rgba(0, 0, 0, 0.4);
//   box-shadow: 2px 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 5px #fff, 0 0 0 10px #000;
// }

// .pokeball:after {
//   display: block;
//   content: '';
//   margin-left: 5px;
//   width: 100%;
//   height: 100%;
//   border-radius: 50%;
//   box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
// }

// .pokeball:hover {
//   cursor: pointer;
//   animation: anti-wiggle 1s ease-in-out;
// }

// .pokeball:hover:after {
//   animation: wiggle 1s ease-in-out;
// }

// .pokeball:focus,
// .pokeball:active {
//   outline: 0;
// }

// @keyframes wiggle {
//   20% {
//     box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
//     transform: rotate(7deg);
//   }
//   40% {
//     box-shadow: inset -11px 0 5px 0 rgba(0, 0, 0, 0.4);
//     transform: rotate(-14deg);
//   }
//   60% {
//     box-shadow: inset -5px 0 5px 0 rgba(0, 0, 0, 0.4);
//     transform: rotate(4deg);
//   }
//   80% {
//     box-shadow: inset -8px 0 5px 0 rgba(0, 0, 0, 0.4);
//     transform: rotate(-2deg);
//   }
//   100% {
//     box-shadow: inset -7px 0 5px 0 rgba(0, 0, 0, 0.4);
//     transform: rotate(0deg);
//   }
// }

// @keyframes anti-wiggle {
//   20% {
//     transform: translateX(4px) rotate(-7deg);
//   }
//   40% {
//     transform: translateX(-8px) rotate(14deg);
//   }
//   60% {
//     transform: translateX(2px) rotate(-4deg);
//   }
//   80% {
//     transform: translateX(-1px) rotate(2deg);
//   }
//   100% {
//     transform: translateX(0px) rotate(0deg);
//   }
// }

// .pokeball:disabled {
//   cursor: not-allowed;
//   background: gray;
// }

// .pokeball:disabled:hover {
//   animation: none;
// }

.sfondo {
  background-image: url('http://media-s3-us-east-1.ceros.com/hype-beast/images/2018/07/13/a9a51bc0b8d626db493ab5f9a971b043/background-hero.png');
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
}

.card-circle {
  margin-top: 50px;
  background: rgb(207, 248, 161);
  margin: 10px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.card-circle:hover {
  transform: scale(1.1);
}

.dialogo {
  border: 6px solid black;
  height: 200px;
  width: 600px;
  padding: 4px;
  margin-top: -7px !important;
  z-index: 3;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.professor-intro {
  font-family: 'pokemon-font', monospace;
  font-size: 18px;
  color: #333;
  line-height: 28px;
}

.professore img {
  height: 700px;
  width: 700px;
}

.team {
  border: 8px solid #047408;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #eef18b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-info img {
  width: 150px;
  height: 140px;
}

.pokemon-info p {
  margin: 5px 0;
  font-size: 20px;
  font-family: 'Pokemon Solid', sans-serif;
  color: rgb(255, 187, 0);
  text-shadow: 2px 2px 2px #000, -2px -2px 2px #000, 2px -2px 2px #000,
    -2px 2px 2px #000;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.pokeball {
  display: block;
  width: 192px;
  height: 192px;
  background: radial-gradient(
      white 16px,
      black 17px 18px,
      white 19px 24px,
      black 25px 32px,
      transparent 33px
    ),
    linear-gradient(to bottom, red 0 80px, black 81px 96px, white 97px 100%);
  border-radius: 50%;
  border: 8px solid black;
  box-shadow: inset -16px -8px 0 0 rgba(0, 0, 0, 0.2);
  animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1.5s 3;
}
/* Animation */
@keyframes shake {
  0% {
    transform: translateX(0) rotate(0);
  }
  20% {
    transform: translateX(-10px) rotate(-20deg);
  }
  30% {
    transform: translateX(10px) rotate(20deg);
  }
  50% {
    transform: translateX(-10px) rotate(-10deg);
  }
  60% {
    transform: translateX(10px) rotate(10deg);
  }
  100% {
    transform: translateX(0) rotate(0);
  }
}

.pokeball:disabled {
  cursor: not-allowed;
  background: gray;
}

.pokeball:disabled:hover {
  animation: none;
}

/* Media Query per rendere il design responsive */
@media only screen and (max-width: 908px) {
  // .sfondo {
  //   height: 100vh;
  //   width: 100vw;
  // }
  .sfondo {
    height: 100vh;
  }
  .container {
    flex-direction: column-reverse;
    max-height: 100%;
  }

  .card-circle {
    height: 80px;
    width: 80px;
  }

  .card-circle img {
    height: 40px;
    width: 40px;
  }

  .pokemon-info p {
    font-size: 9px;
  }

  .team {
    height: 200px;
    width: 300px;
    margin-bottom: 2em;
  }
  // .pokemon-info p {
  //   font-size: 4px;
  // }
  .professore {
    text-align: start;
    width: 300px;
    margin: auto;
  }
  .professore img {
    width: 300px;
    height: 250px;
  }
  .dialogo {
    height: 120px;
    width: 100%;
    margin-bottom: 2em !important;
  }
  .professor-intro {
    font-size: 8px;
    line-height: 0px !important;
  }
  .bottone {
    height: 40px;
  }
  .pokeball {
    display: block;
    width: 50px;
    height: 50px;
    background: radial-gradient(
        white 5px,
        black 5.5px 6px,
        white 6.5px 8px,
        black 8.5px 9px,
        transparent 9.5px
      ),
      linear-gradient(to bottom, red 0 22px, black 23px 25px, white 26px 28px);
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: inset -5px -2.5px 0 0 rgba(0, 0, 0, 0.2);
    animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 1.5s 3;
  }
}
